/* src/components/ProjectsList.module.css */
.projects {
    padding: 2rem;
    background-color: #161616;
    color: #f5f5f5;
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #a1c4fd;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  